main {
  padding: var.$spacer;
  img {
    width: var.$image_width;
  }
  .formContainer1 {
    display: flex;
    flex-direction: column;
  }
  label {
    padding: var.$spacer / 2;
    border: var.$border-size solid var.$border-color;
    width: max-content;
    font-size: var.$font-size / 1.5;
  }
  input {
    padding: var.$spacer / 2;
  }
}
