$spacer: 1rem;
$border-size: 1px;
$font-size: 1rem;
$image_width: 130px;
$width-main-xs: 80%;
$width-main-small: 65%;
$width-main-medium: 50%;
$width-main-large: 30.2%;
$border-color: gray;
$hover-color: #66676e;
$footer-color: #333;
$anchor-color: #6328e0;
$color-primary: #ff6900;
$color-secondary: black;
$color-text: white;
